@page
@model Websols.Vistas.CatalogoModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        hola catalogo
        <a href="Login.html">Login</a>
    </div>
</body>
</html>